<!--<portfolio-button-svg svgIcon="instagram" href="https://www.linkedin.com/in/nirajprakash1/"></portfolio-button-svg>-->
<!--<mat-toolbar-row>-->
<!--  <a class="tb-a&#45;&#45;unset" matRipple routerLink="/">-->
<!--    <div ngClass.gt-xs="logo_area tb-padding&#45;&#45;8-24" ngClass.xs="logo_area tb-padding&#45;&#45;0" fxLayout="row"-->
<!--         fxLayoutAlign="start center" fxLayoutGap="12px">-->
<!--      <img class="image logo" width="100" height="100" src="assets/svg/logo/ea_logo.png" alt="assets/svg/logo/ea_logo.png">-->
<!--    </div>-->
<!--  </a>-->
<!--</mat-toolbar-row>-->
<router-outlet></router-outlet>
